<style type="text/css">
	.details{
		text-align: center;
	}
	.image{
		text-align: center;
	}
</style>
<div class="details">
	<h1>Washington DC</h1>
	<h3>Humidity: {{humidity}}</h3>
	<h3>Temperature: {{temp}}</h3>
	<h3>Highs: {{maxTemp}}</h3>
	<h3>Lows: {{minTemp}}</h3>
	<h3>Wind Speed: {{wind}}</h3>
</div>
<div class="image">
	<img src="https://www.earthmagazine.org/sites/earthmagazine.org/files/styles/full_width/public/2018-11/WashMallaerial_U.S.AirForcephotobyAirman1stClassPhilipBryant.png?itok=EmWOo1Y9">
</div>
